.glightbox-button-hidden {
  display: none;
}

.glamalux-image {
  display: inline-block;
  &.alignright {
    margin-left: 0;
    figcaption {
      text-align: right;
    }
  }
  &--hovereffect {
    img {
      transition: 0.8s;
    }
    &:hover img {
      transform: scale(1.1);
    }
  }
  &--caption-inside {
    position: relative;
    .glamalux-image__caption {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 15px;
      text-transform: uppercase;
      color: var(--global-palette9);
      background-image: linear-gradient(0deg, #585858 0%, rgba(0,0,0,0) 100%);
      hyphens: auto;
      &--sans {
        font-size: 24px;
      }
      &--script {
        font-size: 31px;
      }
    }
  }
  &__imgwrapper {
    position: relative;
    overflow: hidden;
  }
  &--linked {
    position: relative;
    .glamalux-image__link {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  .glamalux-image__image {}

}
.glamalux-image__caption {
  color: var(--global-palette5);
  width: 100%;
  z-index: 1;
  &--sans {
    font-family: Lato, Sans-Serif;
    font-size: 24px;
  }
  &--script {
    font-family: 'Julietta Messie';
    font-size: 31px;
    padding-top: 15px;
  }
  &--right {
    text-align: right;
  }
  .glamalux-image__caption-sub {
    font-family: Lato, sans-serif;
    font-size: 15px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    text-transform: none;
    &:before {
      content: "";
      background-color: var(--global-palette9);
      width: 10%;
      height: 10px;
      //transform: translateY(62%);
      align-self: center;
    }
  }
}
.glamalux-image--lightboxed .glamalux-image__imglink {
  svg.glamalux-image__zoomicon {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    z-index: 10;
  }
  &:hover svg.glamalux-image__zoomicon {
    opacity: 1;
    visibility: visible;
    transition-property: visibility,opacity;
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
  }
}
.glamalux-image--lightboxed .glamalux-image__imglink:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0 , 0 , 0 ,0.4);
  opacity: 0;
  transition: 0.3s;
}
.glamalux-image--lightboxed:hover .glamalux-image__imglink:after {
  opacity: 1;
}